/* ========= BASE ========= */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--very-light-gray);
  font-family: var(--body-font);
  color: var(--very-dark-blue);
}

h1, h2, h3 {
  font-weight: var(--font-semi-bold);
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* ========= FONT ========= */
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-ExtraLight.woff") format("woff");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
/* ========= VARIABLES CSS ========= */
:root {
  /* ========= COLORS ========= */
  /* ========= Primary ========= */
  --red: hsl(0, 78%, 62%);
  --cyan: hsl(180, 62%, 55%);
  --orange: hsl(34, 97%, 64%);
  --blue: hsl(212, 86%, 64%);
  /* ========= Neutral ========= */
  --very-dark-blue: hsl(234, 12%, 34%);
  --grayish-blue: hsl(229, 6%, 66%);
  --very-light-gray: hsl(0, 0%, 98%);
  --white: hsl(0, 0%, 100%);
  /* ========= FONT and TYPOGRAPHY ========= */
  --body-font: "Poppins";
  --normal-font-size: 15px;
  --small-font-size: 12px;
  /* ========= Font Weight ========= */
  --font-extra-light: 200;
  --font-regular: normal;
  --font-semi-bold: 600;
  /* ========= Margenes ========= */
  --mb-0-5: .5rem;
  --mb-0-75: .75rem;
  --mb-1: 1rem;
  --mb-1-5: 2.5rem;
  --mb-2: 2rem;
}

/* ========= LAYOUT ========= */
.section {
  padding-block: 5rem 1rem;
}

.container {
  max-width: 968px;
  margin-left: var(--mb-1-5);
  margin-right: var(--mb-1-5);
  margin-top: var(--mb-1);
}

.grid {
  display: grid;
  gap: 4rem;
}

/* ========= CARD ========= */
.card {
  background-color: var(--white);
  border-radius: 10px;
  box-shadow: 2px 9px 38px -12px rgba(0, 0, 0, 0.4);
  padding: 2.2rem 1.5rem;
}
.card_section_data {
  text-align: center;
}
.card_section_title {
  font-weight: var(--font-extra-light);
}
.card_section_title_tag {
  font-weight: var(--font-semi-bold);
}
.card_section_subtitle {
  font-size: var(--normal-font-size);
  color: var(--grayish-blue);
  margin-top: 1rem;
}
.card_container, .card_content {
  display: grid;
  gap: 1.5rem;
}
.card_container {
  padding: 4.5rem 0 5rem;
}
.card_title, .card_description {
  margin-bottom: 0.5rem;
}
.card_description {
  color: var(--grayish-blue);
  font-size: var(--small-font-size);
}
.card_img {
  transform: translateX(12rem);
  position: relative;
  top: 10px;
  width: 50px;
  height: auto;
}
.card_supervisor {
  border-top: 4px solid var(--cyan);
}
.card_team_builder {
  border-top: 5px solid var(--red);
}
.card_karma {
  border-top: 5px solid var(--orange);
}
.card_calculator {
  border-top: 5px solid var(--blue);
}
.card_supervisor, .card_team_builder, .card_karma, .card_calculator {
  border-radius: 4px;
}

/* ========= FOOTER ========= */
.footer {
  padding-bottom: 3rem;
}
.footer_attribution {
  font-size: 11px;
  text-align: center;
}
.footer_attribution_link {
  color: hsl(228, 45%, 44%);
}

/* ========= MEDIA QUERIES ========= */
/* For Small Devices */
@media screen and (max-width: 320px) {
  .card_container {
    padding: 2.5rem 0 5rem;
  }
  .card_section_title {
    font-size: 1.2rem;
  }
  .card_section_subtitle {
    font-size: var(--small-font-size);
  }
  .card_img {
    transform: translateX(9rem);
  }
}
/* For Medium Devices */
@media screen and (min-width: 576px) {
  .card_container {
    grid-template-columns: 280px;
    justify-content: center;
  }
  .card_section_data {
    display: grid;
    justify-content: center;
    grid-template-columns: 320px;
  }
  .card_img {
    transform: translateX(11.5rem);
  }
}
/* For Large Devices */
@media screen and (min-width: 1150px) {
  .container {
    margin-left: auto;
    margin-right: auto;
  }
  .card {
    padding: 1.5rem 1.5rem;
  }
  .card_container {
    grid-template-columns: repeat(3, 280px);
    align-items: center;
    padding: 3.5rem 0 5rem;
  }
  .card_description {
    font-size: 11px;
    line-height: 1.8;
  }
  .card_section_data {
    grid-template-columns: 500px;
  }
  .card_section_title {
    font-size: 2.1rem;
    line-height: 1.2;
  }
  .card_section_subtitle {
    font-size: var(--normal-font-size);
  }
}